*{margin: 0;padding:0;}
body
{
    background: linear-gradient(to bottom, rgba(227, 239,246,.8), #fff );
    background-repeat: no-repeat;
}
#containerPrincipal
{
    display: block;
    margin: 0 auto;
    height: 100vh;
    padding: 0 5vw;
    border: 1px solid red;
}

#framePerfil
{
    display: block;
    margin: 0 auto;
    height: 170px;
    margin-bottom: 15%;
}

#formulario p
{
    margin-bottom: 0;
    font-size: 8pt;
}

#formulario #nickname
{
    width: 100%;
    margin-bottom: 5%;
    border-top: none;
    border-left: none;
    border-color: rgba(148,200,242,.3);
}  

#formulario #entrarComo #statusOptions
{
    display: inline-block;
    background: #fff;
    width: 10vw;
    border: none;
    width: 10vw;
}

@media (max-width: 700px)
{
    #formulario #entrarComo #statusOptions
    {
        width: 40vw;
    }
}

#formulario p
{
    display: inline-block;
}
#formulario button
{
    background: linear-gradient(to right, #94C8F2, #fff);
    color: black;
    display: block;
    border-radius: 5px;
    padding: 2px 15px;
    margin: 10% auto 20% auto;
}

@media (max-width: 700px)
{
    #formulario #entrarComo #statusOptions
    {
        width: 40vw;
    }
}
@media (max-width: 700px)
{
    #rodape
    {
        margin-top: 18vh;
    }
}
#rodape
{
   margin-top: 45vh;
}
    #rodape .logoMSN
{
    width:10%;
    display: inline-block;
}
#rodape p
{
    display: inline-block;
    font-size: 8pt;
    text-align: left;
    width: 70%;
}